.board {
    display: flex;
    width: 431px;
    border: 0px solid gold;
    margin: 3.5em auto;
}

.rownum-area {
    border: 0px solid silver;
}

.rownum-area ul {
    padding-left: 0;
}

.rownum-area li {
    padding-left: 0;
    line-height: 66px;
    text-align: right;
    margin-right: 2px;
}

.code-area {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    border: 0px solid gold;
    margin-right: 10px;
    max-width: 270px;
}

/* scores / keys */ 

.score-area {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap-reverse;
    flex-basis: 100%;
    margin-right: 10px;
    min-width: 46px;
}

/* buttons */

.button-area {
    display: flex;
    flex-direction: column-reverse;
}

@media only screen and (max-width: 500px) {
    .board {
        width: 336px;
        padding: 0px 5px 0px 3px;
    }

    .code-area {
        margin: 0;
        min-width: 200px;
        max-width: 200px;
    }

    .score-area {
        min-width: 45px;
        max-width: 45px;
    }

    .rownum-area li {
        line-height: 52px;
    }
}