header {
  display: flex;
  justify-content: space-between;
  background-color: #e5e5e5;
  box-shadow: 0px 1px 3px 0px #7A7A7A;
  width: 100%;
  padding: 10px;
}

.logo {
  width: 45px;
  height: 45px;
  background-image: url(../public/img/mastermind_logo.png);
}

nav ul {
  list-style-type: none;
}


@media only screen and (max-width: 500px) {
  header {
    flex-direction: column-reverse;
    align-items: flex-end;
  }
  nav {
    margin-bottom: 10px;
  }
}