.score-slot {
    display: flex;
    width: 10px;
    height: 10px;
    border: 1px solid transparent;
    margin: 10px;
    background-color: #c4c4c4;
    border-radius: 50%;
}

.white-key {
    width: 16px;
    height: 16px;
    background-color: white;
    border: 1px solid grey;
    margin: 7px;
}

.black-key {
    width: 16px;
    height: 16px;
    background-color: black;
    margin: 7px;
}